---
- name: Background twitter tools installation
  hosts: "{{ host_machine_dns }}"
  remote_user: "{{ user_name }}"
  become: yes

  vars_files:
  - ../config/group_vars/all

  vars:
    app_base_path: "{{ background_tool_base_path }}"
    user_name: "{{ app_admin }}"
    version: v1.1.0
    repo_url: 'https://github.com/krdpk17/twitter-neo4j.git'
    env_file_loc: "{{ background_tool_config_repo_base_dir }}/.env"
    env_dmcheck_file_loc: "{{ background_tool_config_repo_base_dir }}/.env_dmcheck"

  tasks:
    - name: Pull code from source
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_base_path }}"
        version: "{{ version }}"
      become_user: "{{ user_name }}"

    - name: Add configuration files
      shell: 
        chdir: "{{ background_tool_docker_path }}"
        cmd: "{{ item }}"
      with_items:
          - bash -c 'ln -s {{env_file_loc}} .' >>ansible_out.txt
          - bash -c 'ln -s {{env_dmcheck_file_loc}} .' >>ansible_out.txt
      become_user: "{{ user_name }}"

    - name: Configure env files
      lineinfile: 
        path: "{{ env_file_loc }}"
        regexp: '^NEO4J_PORT=(.*)$'
        line: "NEO4J_PORT={{neo4j_https_port}}"
        state: present
        backup: yes

    - name: Configure env files
      lineinfile: 
        path: "{{ env_file_loc }}"
        regexp: '^NEO4J_AUTH=(.*)$'
        line: "NEO4J_AUTH={{db_username}}/{{db_password}}"
        state: present
        backup: yes
  
    - name: Configure env files
      lineinfile: 
        path: "{{ env_file_loc }}"
        regexp: '^NEO4J_BOLT_PORT=(.*)$'
        line: "NEO4J_BOLT_PORT={{neo4j_bolt_port}}"
        state: present
        backup: yes

    - name: Configure env files
      lineinfile: 
        path: "{{ env_dmcheck_file_loc }}"
        regexp: '^NEO4J_PORT=(.*)$'
        line: "NEO4J_PORT={{neo4j_https_port}}"
        state: present
        backup: yes

    - name: Configure env files
      lineinfile: 
        path: "{{ env_dmcheck_file_loc }}"
        regexp: '^NEO4J_AUTH=(.*)$'
        line: "NEO4J_AUTH={{db_username}}/{{db_password}}"
        state: present
        backup: yes
  
    - name: Configure env files
      lineinfile: 
        path: "{{ env_dmcheck_file_loc }}"
        regexp: '^NEO4J_BOLT_PORT=(.*)$'
        line: "NEO4J_BOLT_PORT={{neo4j_bolt_port}}"
        state: present
        backup: yes