---
- name: Neo4J DB installation
  hosts: "{{ host_machine_dns }}" 
  remote_user: "{{ user_name }}"
  become: yes
  vars_files:
  - group_vars/all

  vars:
    app_path: "{{ deploy_base_dir }}/{{ code_dir_name }}/neo4j-docker/"
    user_name: "{{ neo4j_admin }}"
    version: v1.0.0
    repo_url: 'https://github.com/krdpk17/neo4j-docker.git'

  tasks:
    - name: Pull code from source
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_path }}"
        version: "{{ version }}"
      become_user: "{{ user_name }}"