---
- name: Background twitter tools installation
  hosts: "{{ host_machine_dns }}"
  remote_user: "{{ user_name }}"
  become: yes

  vars_files:
  - group_vars/all

  vars:
    app_path: "{{ deploy_base_dir }}/{{ code_dir_name }}/twitter-neo4j/"
    user_name: "{{ app_admin }}"
    version: v1.0.0
    repo_url: 'https://github.com/krdpk17/twitter-neo4j.git'

  tasks:
    - name: Pull code from source
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_path }}"
        version: "{{ version }}"
      become_user: "{{ user_name }}"