---
- name: Twitter client Website installation
  hosts: "{{ host_machine_dns }}"
  remote_user: "{{ user_name }}"
  become: yes

  vars_files:
  - ../config/group_vars/all

  vars:
    app_path: "{{ website_code_base_path }}"
    user_name: "{{ app_admin }}"
    version: v1.0.0
    repo_url: 'https://github.com/krdpk17/django-twitter.git'

  tasks:
    - name: Pull code from source
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_path }}"
        version: "{{ version }}"
      become_user: "{{ user_name }}"