---
- name: Background twitter tools installation
  hosts: sarvat.com 
  remote_user: appadmin
  become: yes
  tasks:
    - name: Pull code from source
      git:
        repo: 'https://github.com/krdpk17/twitter-neo4j.git'
        dest: ~/production/code/twitter-neo4j/
        version: v1.0.0
      become_user: appadmin